.image-card {
  width: 250px;
  height: 250px;
}

.gallery-card-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  font-size: 1.2em;
  opacity: 0;
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
}

.image-card:hover .gallery-card-buttons {
  opacity: 1;
}
