.members-table {
  background-color: white;
}

.members-table .number {
  width: fit-content;
}

.members-table .edit {
  background-color: #0d8bf1;
}
.members-table .edit:hover {
  background-color: #00ccff;
}

.members-table .delete {
  background-color: #c53030;
}
.members-table .delete:hover {
  background-color: #e93720;
}

.members-table .avatar-error {
  border: 3px solid red;
}
