/* Import ROBOTO font-styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

.article-box {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* min-height: calc(100vh - 3em); */

  padding-top: 3em;
  margin: 0 auto;
  padding-bottom: 2em;
  min-width: 300px;
  max-width: 700px;
  background-color: white;
  /* border: 1px black solid; */
}
.article-box h1,
.article-box h2,
.article-box h3 {
  font-family: Arial, sans-serif;
}

.article-box .intro {
  padding: 0 1em;
}

.article-box .intro .date-published {
  text-align: end;
  font-size: small;
  margin-top: -0.5em;
}
.article-box .body {
  line-height: 1.5em;
  background-color: white;
  padding: 0 1em;
}
@media only screen and (max-width: 620px) {
  .article-box .body {
    background-color: transparent;
  }
}
.article-box .body figure {
  margin: 0;
  width: 100%;
}
.article-box .body img {
  max-width: min(80vw, 500px);
  margin: 0 auto;
}

.article-box .media-embed {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}


.article-box .media-embed iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}