/* Import ROBOTO font-styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400&display=swap");

.Article-img {
  height: 550px;
  max-height: 70vh;
  background-position: center;
  background-size: cover;
}

.article-box {
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0 2em;
  max-width: 930px;
  .title {
    font-family: "Roboto Slab", serif;
  }
  .intro {
    .edit-article {
      margin-left: 10px;
    }
    .article-meta {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
      }
    }
    .share-media {
      height: 35px;
    }
    .share-media button {
      position: relative;
      bottom: 0;
      transition: bottom ease-out 0.2s;
    }
    .share-media button:hover {
      bottom: 10px;
    }
    time {
      margin-top: auto;
    }
  }
  .body {
    font-family: "Roboto", "sans-serif";
    font-weight: 300;
    line-height: 1.5em;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-align: justify;
    }
    figure {
      margin: 0;
      width: 100%;
    }
    img {
      display: inline-flex;
      max-width: min(80vw, 500px);
    }
  }
  .media-embed {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
.published-tag {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 3px;
  font-size: small;
  height: fit-content;
  margin-left: 1em;
}

@media only screen and (max-width: 620px) {
  .article-box {
    padding: 0 1em;
  }
}
