#myCarousel {
  --carousel-button-bg: #fff;

  --carousel-button-width: 48px;
  --carousel-button-height: 48px;

  --carousel-button-svg-width: 27px;
  --carousel-button-svg-height: 27px;
  --carousel-button-svg-stroke-width: 1.5;

  --carousel-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.carousel__button {
  /*  verticaly centers nav buttons   */
  &.is-prev {
    transform: none !important;
    left: 70px;
  }
  &.is-next {
    transform: none !important;
    right: 70px;
  }
}

.my-slide {
  padding: 0 !important;
}

.carousel {
  &.no-dots .carousel__dots {
    display: none !important;
    margin-bottom: 0;
  }

  &.no-nav .carousel__nav {
    display: none !important;
  }
}
