.dropzone {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 0.5em;
  padding: 0.2em;
  text-align: center;

  .area {
    border: 2px dotted #d1d1d1;
    border-radius: 0.5em;
    padding: 0.4em 0;
    background-color: white;
  }
  img {
    margin-top: 5px;
  }
}

.dropzone-carousel .img-item {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  --carousel-slide-width: 300px;

  button {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }

  &:hover button {
    opacity: 100%;
  }
}

.error {
  color: red;
  font-weight: bold;
}
