.footer {
  background-color: #427a7e;
  margin-top: auto;
  p {
    font-size: 0.7em;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    color: white;
  }
}

.footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto 0;
  gap: 20px;

  h3 {
    font-weight: 400;
    color: white;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        img {
          height: 1.5em;
          padding-right: 6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-links {
    display: block;
    margin: 0 20px;
    padding-top: 0.5em;
  }
}
