::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #52796f;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

.fa-file-image {
  height: 100%;
  font-size: 500%;
  color: #cad2c5;
}

p {
  font-weight: 400;
  color: #2f3e46;
}

a {
  text-decoration: none;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: Segoe UI;
  margin: 0;
  background-color: #f1f1f1;
}

.container {
  font-size: 10px;
  max-width: 78.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.fa-clone,
.fa-comment {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.filtering {
  padding: 1rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #427a7e;
  cursor: pointer;
  width: 10rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #427a7e;
  cursor: pointer;
  pointer-events: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  justify-content: center;
}

@supports (display: grid) {
  .gallery {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 0.4rem;
  }
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
}

.container-2 {
  width: 100%;
  z-index: -1;
}

.container-2 h1 {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.card-tag-red {
  border-color: red;
  color: red;
}
.card-tag-green {
  border-color: green;
  color: green;
}

.pagination {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

.pagination a {
  color: gray;
}

.pagination span {
  margin: 0 0.7em;
}

.pag-arrow {
  font-size: 0.8em;
  line-height: 1em;
}

.priv_arrow,
.next_arrow {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.top-center {
  top: 50%;
}

.priv_arrow {
  left: 8px;
  z-index: 10000;
}

.next_arrow {
  right: 8px;
}

.slick-slide {
  outline: none;
}

.carousel {
  user-select: initial;
}

p {
  font-weight: 400;
  color: #2f3e46;
}

a {
  text-decoration: none;
}

html{
  min-height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f1f1f1;
  min-height: 100%;
}

.Base {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.landing-img {
  height: 70vw;
  max-height: 340px;
  width: 100%;
  object-fit: cover;
}

/* .pad {
  padding-top: 40px;
  padding-bottom: 40px;
} */

.hoverCursor:hover {
  cursor: pointer;
}

.hoverDarken:hover {
  background: #0000001f;
}
.hoverBorder:hover {
  border-bottom: white 2px solid;
}

.green-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  margin: 0;
  color: #427a7e;
}
.green-heading-h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #2f3e46;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
